/* App.css */
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("https://i.redd.it/z2na6cwkspee1.jpeg");
  position: relative;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Optional: Adds blur effect */
  opacity: 0.3; /* Opacity effect */
  z-index: -1; /* Keeps the image behind the content */
}

html {
  background-color: #f7f7f7;
}

.app-name {
  font-size: 2.3rem;
  color: rgb(17, 144, 0);
  margin-bottom: 16px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  min-height: 440px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding: 32px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.city-search {
  width: 80%;
  max-width: 400px;
  box-sizing: border-box;
  border: 2px solid rgb(204, 204, 204);
  outline: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: #e5eef0;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  padding: 12px 20px;
  color: #333;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.search-button:hover {
  background-color: #21a1f1;
}

.city-search:focus {
  width: 100%;
}

.weather-details {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.weather-header {
  margin-bottom: 20px;
}

.city-name {
  font-size: 2rem;
  color: #444;
}

.weather-condition {
  font-size: 1.2rem;
  color: #666;
}

.weather-info {
  margin-top: 20px;
}

.weather-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.weather-label {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}

.weather-value {
  font-size: 1.2rem;
  color: #555;
}

.error-message {
  display: block;
  text-align: center;
  color: #d32f2f;
  font-size: 24px;
  margin-top: 20px;
}
